<div class="cart-popup-wrapper position-fixed d-flex w-100 justify-content-end cart-popup-wrapper--hidden critical-hidden" role="dialog" aria-modal="true" aria-labelledby="CartPopupHeading" data-cart-popup-wrapper>
  <div class="cart-popup p-0" data-cart-popup tabindex="-1">

    <div class="cart-popup__header d-flex align-items-center justify-content-between">
      <h2 id="CartPopupHeading" class="mb-0 text-20px text-secondary font-montserat">Shopping Cart</h2>
      <button class="cart-popup__close border-0 bg-transparent text-secondary" aria-label="{{ 'general.accessibility.close_modal' | t }}" data-cart-popup-close>
        {% render 'icon-close' %}
      </button>
    </div>

    <div class="cart d-flex flex-column position-relative">
      {%- for item in cart.items -%}
        <div class="cart-popup-item d-flex" data-cart-item data-cart-item-key="{{ item.key }}" data-cart-item-url="{{ item.url }}" data-cart-item-title="{{ item.title }}" data-cart-item-index="{{ forloop.index }}" data-cart-item-quantity="{{ item.quantity }}">
        <div class="cart-popup-item__image-wrapper" data-cart-popup-image-wrapper>
          <img class="cart__image lazyload {% if item.image == null %} d-none{% endif %}" data-src="{{ item | img_url: '102x102' }}" alt="{{ item.image.alt | escape }}" data-cart-item-image>
        </div>
        <div class="cart-popup-item__description w-100 position-relative pl-2">
          <h3 class="mb-1 text-15px font-montserat font-weight-semibold" data-cart-popup-title>
            {{ item.product.title }}
          </h3>
          <ul class="product-details list-unstyled pl-0 mb-2 text-11px" aria-label="{{ 'cart.popup.product_details' | t }}" data-cart-popup-product-details>
            <li>{{ item.variant.title }}</li>

            {% if item.properties['frequency_num'] != blank %}
            <li>Deliver every {{ item.properties['frequency_num'] }} {{ item.properties['frequency_type_text'] }} {{ item.properties['discounted_price'] }} each</li>
            {% endif %}
          </ul>

          <div class="d-flex align-items-center">
            <div class="cart-popup-item__quantity d-flex">
              <span class="visually-hidden" data-cart-popup-quantity-label></span>
              <button data-qty="-">-</button>
              <input class="cart-popup-item__quantity__input" min="1" type="number" aria-hidden="true" value="{{ item.quantity }}" data-cart-popup-quantity>
              <button data-qty="+">+</button>
            </div>

            {% render 'cart-popup-price', item:item %}
          </div>

          <!-- Remove icon -->
          <a class="cart-popup-item__remove position-absolute"
             href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
             aria-label="{{ 'cart.label.remove' | t: product: item.title }}"
             data-cart-remove
             data-role="product-remove">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none"><defs/><path fill="#004B83" d="M9 18a9 9 0 01-9-9 9 9 0 019-9 9 9 0 019 9 9 9 0 01-9 9zm0-1.8A7.2 7.2 0 109 1.8a7.2 7.2 0 000 14.4zm0-8.473l2.545-2.546 1.274 1.274L10.273 9l2.546 2.545-1.274 1.274L9 10.273l-2.545 2.546-1.274-1.274L7.727 9 5.181 6.455 6.455 5.18 9 7.727z"/></svg>
          </a>
        </div>
      </div>

        {%- unless forloop.last -%}
          <hr class="my-0 mx-n5">
        {%- endunless -%}
      {% endfor %}

      <div class="absolute-center text-nowrap {% if cart.item_count != 0 %} d-none{% endif %}" data-cart-empty>
        <h3 class="mb-0 text-35px text-secondary">Cart is Empty</h3>
      </div>
    </div>

    <div class="cart-popup__footer mt-auto">
      <div class="cart-popup__subtotal mb-4 d-flex align-items-center justify-content-between">
        <h3 class="mb-0 text-20px text-primary">Subtotal</h3>
        <h3 class="mb-0 text-20px text-primary" data-cart-subtotal>
          <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>
          <span>{{ cart.total_price | money_without_trailing_zeros }}</span>
        </h3>
      </div>
      <a href="{{ routes.cart_url }}/checkout" class="btn btn-primary w-100 mb-4">Checkout</a>
      <p class="mb-0 text-11px text-dark text-center">
        Taxes and shipping calculated at checkout
      </p>
    </div>
  </div>
  <button class="d-none" data-cart-popup-dismiss>Dismiss</button>
  <span class="d-none" data-cart-popup-cart-quantity></span>
</div>
