<section class="account-header bg-primary text-light pt-4 pb-2 py-md-3">
  <div class="container">
    <div class="d-flex flex-column flex-md-row">
      <div class="account-header__logout text-center text-md-left pb-4 pb-md-0 pr-md-4 flex-shrink-0">
        <h1 class="mb-1 text-20px text-light">{{ 'customer.account.title' | t }}</h1>
        <a href="{{ routes.account_logout_url }}"
           class="text-light d-inline-flex align-items-center">
          {% render 'icon-logout', class: 'mr-1' %}
          {{ 'layout.customer.log_out' | t }}
        </a>
      </div>

      <div class="account-header__active flex-fill py-3 py-md-0 flex-center">
        <a href="{{ routes.account_url }}"
           class="p-2 account-header__link active text-15px font-weight-semibold" data-tab-trigger="orders" data-dropdown-trigger-mobile>
          Order History
        </a>
      </div>
      <div class="account-header__dropdown d-flex flex-column flex-md-row flex-fill overflow-hidden"
           data-dropdown-mobile>
        <div class="mb-2 mb-md-0 pt-4 pt-md-0 flex-fill flex-center d-md-none">
          <a href="{{ routes.account_url }}"
             data-tab-trigger="orders"
             class="p-2 account-header__link active text-15px font-weight-semibold">
            Order History
          </a>
        </div>
        <div class="mb-2 mb-md-0 flex-fill flex-center">
          <a href="{{ routes.account_addresses_url }}"
             data-tab-trigger="address"
             class="p-2 account-header__link text-15px font-weight-semibold">
            Your Addresses
          </a>
        </div>
        <div class="flex-fill pb-4 pb-md-0 flex-center">
          <a href="/tools/checkout/front_end/login"
             class="p-2 account-header__link text-15px font-weight-semibold">
            Manage Subscription
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="account-body">
  <div class="container h-100">
    <div class="orders__wrapper mx-auto h-100" data-tab="orders">
      <h2 class="mb-4 text-35px">Your orders</h2>

      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}

          <table class="responsive-table">
            <thead>
            <tr>
              <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
              <th scope="col">{{ 'customer.orders.date' | t }}</th>
              <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
              <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th scope="col">{{ 'customer.orders.total' | t }}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in customer.orders %}
              <tr>
                <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                  <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                </th>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {%- if paginate.pages > 1 -%}
          {% include 'pagination', paginate: paginate %}
        {%- endif -%}
      {% endpaginate %}

    </div>

    {% comment %}
      Addresses
    {% endcomment %}
    <div class="addresses__wrapper h-100 d-none" data-tab="address">
      <div class="row">
        <div class="col-lg-5 mb-3">
          <h2 class="mb-4 mb-md-5 text-35px">{{ 'customer.addresses.title' | t }}</h2>
          {% comment %}
            List all customer addresses with a unique edit form.
            Also add pagination in case they have a large number of addresses
          {% endcomment %}
          {% for address in customer.addresses %}
            <div class="addresses__address">
                {% if address == customer.default_address %}
                  <h3 class="mb-2 text-info text-15px">{{ 'customer.addresses.default' | t }}</h3>
                {% endif %}

                <div class="text-dark text-15px">
                  {{ address | format_address }}
                </div>

                <div class="d-flex mt-3">
                  <button
                    id="EditFormButton_{{ address.id }}"
                    type="button"
                    class="mr-3 p-0 font-weight-semibold text-primary text-underline border-0 bg-transparent address-edit-toggle"
                    data-form-id="{{ address.id }}"
                    aria-owns="EditAddress_{{ address.id }}"
                    aria-expanded="false"
                  >
                    {{ 'customer.addresses.edit' | t }}
                  </button>

                  <button
                    type="button"
                    class="mr-3 p-0 font-weight-semibold text-primary text-underline border-0 bg-transparent address-delete"
                    data-target="{{ address.url }}"
                    data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                  >
                    {{ 'customer.addresses.delete' | t }}
                  </button>
                </div>
              </div>
          {% endfor %}

          {% if customer.addresses_count == 0 %}
            <p>You haven't added any addresses yet.</p>
          {% endif %}
        </div>


        <div class="col-lg-7" id="AddressNewForm">
          <h2 class="mb-4 mb-md-5 text-35px">{{ 'customer.addresses.add_new' | t }}</h2>
          {% comment %}
            Add address form
          {% endcomment %}
          <div>
            {% form 'customer_address', customer.new_address %}

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                  <input class="form-control" type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
                </div>

                <div class="form-group col-md-6">
                  <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                  <input  class="form-control" type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
                </div>
              </div>

              <div class="form-group">
                <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                <input class="form-control" type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization">
              </div>

              <div class="form-group">
                <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                <input class="form-control" type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1">
              </div>

              <div class="form-group">
                <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                <input class="form-control" type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                  <select class="form-control" id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
                </div>

                <div class="form-group col-md-6" id="AddressProvinceContainerNew">
                  <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                  <select class="form-control" id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                  <input class="form-control" type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
                </div>
                <div class="form-group col-md-6">
                  <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                  <input class="form-control" type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
                </div>
              </div>

              <div class="form-group">
                <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                <input class="form-control" type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="address_default_address_new" name="address[default]" value="1">
                <label class="form-check-label text-dark" for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
              </div>

              <div class="mt-4 pt-3">
                <button type="submit" class="btn btn-primary btn--no-arrow w-100">{{ 'customer.addresses.add' | t }}</button>
              </div>
              <input type="text" id="AddressNewButton" hidden="" aria-expanded="true">
            {% endform %}
          </div>
        </div>
        {% for address in customer.addresses %}
          <div id="EditAddress_{{ address.id }}" class="col-lg-7 d-none">
            {% form 'customer_address', address %}

              <h2 class="mb-4 mb-md-5 text-35px">{{ 'customer.addresses.edit_address' | t }}</h2>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                  <input class="form-control" type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
                </div>

                <div class="form-group col-md-6">
                  <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                  <input class="form-control" type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
                </div>
              </div>

              <div class="form-group">
                <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                <input class="form-control" type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization">
              </div>

              <div class="form-group">
                <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                <input class="form-control" type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1">
              </div>

              <div class="form-group">
                <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                <input class="form-control" type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                  <select class="form-control" id="AddressCountry_{{ form.id }}" class="address-country-option" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
                </div>
                <div class="form-group col-md-6" id="AddressProvinceContainer_{{ form.id }}">
                  <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                  <select class="form-control" id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                  <input class="form-control" type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
                </div>
                <div class="form-group col-md-6">
                  <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                  <input class="form-control" type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
                </div>
              </div>

              <div class="form-group">
                <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                <input class="form-control" type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
              </div>

              <div class="form-check">
                <input class="form-check-input mr-3" type="checkbox" id="address_default_address_new" name="address[default]" value="1">
                <label class="form-check-label text-dark" for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
              </div>

              <div class="mt-4 pt-3">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary btn--no-arrow w-100">
                      {{ 'customer.addresses.update' | t }}
                    </button>
                  </div>
                  <div class="form-group col-md-6">
                    <button type="button" class="btn address-edit-toggle w-100" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</button>
                  </div>
                </div>
              </div>
            {% endform %}
          </div>
        {% endfor %}
        <div><button type="button" class="text-link address-new-toggle d-none">{{ 'customer.addresses.cancel' | t }}</button></div>
      </div>
    </div>
  </div>
</section>

<div class="page-width d-none">

  <div class="grid myaccount">
    <div class="grid__item myaccount__order-history">
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}

          <table class="responsive-table">
            <thead>
              <tr>
                <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
                <th scope="col">{{ 'customer.orders.date' | t }}</th>
                <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                    <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                  </th>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {%- if paginate.pages > 1 -%}
          {% include 'pagination', paginate: paginate %}
        {%- endif -%}
      {% endpaginate %}
    </div>
    <div class="grid__item myaccount__account-details">
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <p><a href="{{ routes.account_addresses_url }}" class="btn btn--small">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
    </div>
  </div>
</div>
