<div class="page-form__wrapper">
  <div class="container">
    <div class="page-form__inner mx-auto">

      <div class="form-message form-message--success mb-4 text-success text-20px text-center d-none" id="ResetSuccess" tabindex="-1">
        {{ 'customer.recover_password.success' | t }}
      </div>

      <div id="CustomerLoginForm">

        <h1 class="mb-5 text-center text-35px">{{ 'customer.login.title' | t }}</h1>

        {% form 'customer_login', novalidate: 'novalidate' %}

          {%- if form.errors -%}
            <div class="form-message form-message--error text-danger mb-5">
              <h2 class="mb-3 text-center text-24px text-danger font-weight-normal" tabindex="-1" data-form-status>{{ 'contact.form.error_heading' | t }}</h2>
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}

          <div class="form-group form-group__with-icon">
            <span class="form-control__icon">
              {% render 'icon-mail' %}
            </span>

            <input
              type="email"
              class="form-control {% if form.errors contains 'form' %} is-invalid {% endif %}"
              name="customer[email]"
              id="CustomerEmail"
              autocomplete="email"
              placeholder="Email"
              autocorrect="off"
              autocapitalize="off"
              {%- if form.errors contains 'form' -%}
                aria-invalid="true"
              {%- endif -%}
            >
            <div class="invalid-feedback pl-4 pt-1">
              Please provide a valid email.
            </div>
          </div>

          <div class="form-group form-group__with-icon">
            <span class="form-control__icon">
              {% render 'icon-lock' %}
            </span>

            <input
              type="password"
              class="form-control {% if form.errors contains 'form' %} is-invalid {% endif %}"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              placeholder="Password"
              {%- if form.errors contains 'form' -%}
                aria-invalid="true"
              {%- endif -%}
            >
            <div class="invalid-feedback pl-4 pt-1">
              Please provide a valid password.
            </div>
          </div>

          <div class="text-center">
            <p class="mb-4">
              <a href="#recover" class="font-weight-semibold text-underline" id="RecoverPassword">
                {{ 'customer.login.forgot_password' | t }}
              </a>
            </p>

            <button type="submit" class="btn btn-primary btn--no-arrow w-100 mb-4">
              {{ 'customer.login.sign_in' | t }}
            </button>

            <p class="mb-0">
              <a href="{{ routes.account_register_url }}" class="font-weight-semibold text-underline">
                {{ 'layout.customer.create_account' | t }}
              </a>
            </p>
          </div>

        {% endform %}
      </div>

      <div id="RecoverPasswordForm" class="d-none">

        <div class="text-center mb-5">
          <h2 id="RecoverHeading" class="mb-3 text-center text-35px">{{ 'customer.recover_password.title' | t }}</h2>
          <p class="mb-0">{{ 'customer.recover_password.subtext' | t }}</p>
        </div>

        <div>
          {% form 'recover_customer_password' %}

            {% comment %}
              Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
            {% if form.posted_successfully? %}
              <span class="d-none reset-password-success"></span>
            {% endif %}

            {%- if form.errors -%}
              <span id="RecoverEmail-email-error" class="text-danger mb-4 d-block text-center">
                <span class="visually-hidden position-absolute">{{ 'general.accessibility.error' | t }} </span>
                <span>{{ form.errors.messages['form'] }}</span>
              </span>
            {%- endif -%}

            <div class="form-group form-group__with-icon">
              <span class="form-control__icon">
                {% render 'icon-mail' %}
              </span>

              <input
                type="email"
                value=""
                name="email"
                id="RecoverEmail"
                placeholder="Email"
                class="form-control {% if form.errors %} is-invalid{% endif %}"
                autocorrect="off"
                autocapitalize="off"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="RecoverEmail-email-error"
                {%- endif -%}
              >
              <div class="invalid-feedback pl-4 mt-1">
                Please provide a valid email.
              </div>
            </div>



            <div class="text-center">
              <p class="mb-4">
                <button type="submit" class="btn btn-primary btn--no-arrow w-100">
                  {{ 'customer.recover_password.submit' | t }}
                </button>
              </p>

              <a href="#LoginHeading" id="HideRecoverPasswordLink" class="text-underline font-weight-semibold">
                {{ 'customer.recover_password.cancel' | t }}
              </a>
            </div>
          {% endform %}
        </div>

      </div>

    </div>
  </div>
</div>
