{%- if section.settings.enable_bar -%}
  <div class="header__bar bg-secondary text-light position-relative">
    <div class="container">
      <p class="mb-0 text-15px text-light text-center">
        {{- section.settings.bar_text -}}
      </p>
    </div>
  </div>
    {% style %}
    .header {
      top: -31px;
    }
    @media (min-width: 576px) {
      .header {
        top: -41px;
      }
    }
  {% endstyle %}
{%- endif -%}

{%- assign menu = linklists[section.settings.menu].links -%}
{%- assign menu_1_size = menu.size | append: '.0' | divided_by: 2 | ceil -%}
{%- assign menu_2_size = menu.size | minus: menu_1_size | plus: 1  -%}

{%- assign brp = 'md' -%}

<div class="header__inner bg-light position-relative">
  <div class="container">
    <div class="row align-items-center position-relative">
      <div class="col-6">
        <button class="d-{{ brp }}-none border-0 bg-transparent text-secondary" data-menu-toggle>
          <span>
            {%- render 'icon-hamburger' -%}
          </span>
          <span class="d-none">
            {%- render 'icon-close' -%}
          </span>
        </button>
        <nav class="d-none d-{{ brp }}-block pr-5">
          {%- for link in menu limit: menu_1_size -%}
            <a class="mr-4 text-link text-15px" href="{{ link.url }}">
              {{- link.title | capitalize -}}
            </a>
          {%- endfor -%}
        </nav>
      </div>
      <div class="col-6">
        <nav class="d-flex justify-content-end align-items-center  pl-5">
          <div class="d-none d-{{ brp }}-block">
            {%- for link in menu offset: menu_2_size -%}
              <a class="ml-4 text-15px" href="{{ link.url }}">
                {{- link.title | capitalize -}}
              </a>
            {%- endfor -%}
          </div>

          <a class="ml-3 ml-md-4" href="{{ routes.account_url }}">
            {%- render 'icon-login' -%}
          </a>

          <a class="ml-3 ml-md-4" href="{{ routes.cart_url }}" data-cart-popup-toggle>
            {%- render 'icon-cart' -%}
          </a>
        </nav>
      </div>

      <div class="absolute-center">
        <a href="{{ routes.root_url }}">
          {{- section.settings.logo -}}
        </a>
      </div>
    </div>
  </div>

  <div class="header__mob bg-light position-absolute" data-mob-menu>
    <div class="container text-center text-20px font-weight-bold">
      {%- for link in menu -%}
        <a class="d-block mb-4" href="{{ link.url }}">
          {{- link.title | capitalize -}}
        </a>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header position-sticky",
  "settings": [
    {
      "type": "header",
      "content": "Bar"
    },
    {
      "type": "checkbox",
      "id": "enable_bar",
      "label": "Enable Bar"
    },
    {
      "type": "text",
      "id": "bar_text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "text",
      "id": "logo",
      "label": "Logo SVG Code"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}